body{
    background-color: rgb(243, 243, 243);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    color: rgb(128, 128, 128);
}
.main{
    margin: 50px 20px;
    padding: 10px 50px 100px 50px;
    background-color: rgb(255, 255, 255);    
}
div#goodDay{
    margin: 50px 20px;
    padding: 10px 50px 30px 50px;
    background-color: rgb(255, 242, 231);    
}
div#sosoDay{
    margin: 50px 20px;
    padding: 10px 50px 30px 50px;
    background-color: rgb(240, 255, 243);    
}
div#badDay{
    margin: 50px 20px;
    padding: 10px 50px 30px 50px;
    background-color: rgb(224, 245, 255);    
}
p.prm{
    padding: 10px;
}
p.prm input{
    width: 90%;
}
p.souhyou{
    margin-top: 50px;
}
p.souhyou input{
    width: 94%;
}
#today{
    font-size: x-large;
}
.Gmsg,.Smsg,.Bmsg{
    font-size: xx-large;
}
.Gmsg{
    color: rgb(255, 94, 53);
}
.Smsg{
    color: aquamarine;
}
.Bmsg{
    color: rgb(8, 8, 185);
}
#sendBtn {
    text-align: center;
}
.top a{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#explanation{
    padding: 10%;
    margin: 3%;
}
#explanation p{
    font-size: 200%;
    line-height: 300%;
}
#introduction{
    padding: 3% 10% 10%;
    margin: 3%;
}
#intImg{
    width: 90%;
    height: 90%;
}
#startBtn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#startBtn a{
    margin: 5%;
    width: 20em;
    height: 5em;
    font-size: 150%;
    line-height: 2.5em;
}
footer{
    margin-top: 5%;
    padding: 2% 3% 1%;
    background-color: white;
    font-size: 200%;
    text-align: center;
}

.backBtn{
    display: flex;            /* Flexboxを指定 */
    justify-content: center;  /* 水平方向の中央寄せ */
    align-items: center;      /* 垂直方向の中央寄せ */
    background-color: rgb(255, 255, 255); 
    margin-top: -5%;
    padding: 5%;
    font-size: larger;
}

/* ここからlogin.php用 */
#loginDisp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#loginDisp div{
    background-color: rgb(243, 243, 243);
    flex:1;
    margin: 3%;
    padding: 2%;
}
/*regist.php用*/
#registDisp {
    background-color: rgb(243, 243, 243);
    padding: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}
#registDisp div{
    margin-top:8%;
}

#construction{
    background-color: rgb(0, 0, 0);
    pointer-events: none;
}